@import "../../../variables";

.titles {
  margin-left: 4%;
  width: 95%;
  text-align: center;
  color: white;
  cursor: default;
  .title {
    font-size: 2vw;
    width: 13%;
    margin-left: -3%;
    border-bottom: 1px solid white;
  }
}

.items {
  height: 100%;
  width: 100%;
  padding: 1%;
  color: white;
  cursor: default;
  font-family: $slimfont;
  z-index: 2;
  & .item {
    border: 5px solid white;
    border-top: unset;
    border-bottom: unset;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    height: 100%;
    width: 90%;
    margin: 1%;
    text-align: center;
    &:hover {
      border-top: unset;
      border-bottom: unset;
      transform: scale(1.01);
      transition: all 200ms;
    }
    & .img {
      background-size: cover;
      height: 12vw;
      width: 12vw;
    }
    & .AddItems {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 10%;
      span {
        margin: 0px 3px;
      }
      & span:hover {
        color: green;
        cursor: pointer;
      }
    }
    h5 {
      width: 17%;
    }
    .remove:hover {
      color: red;
      cursor: pointer;
    }
  }
}
.total {
  color: white;
  font-size: 6/2vw;
  margin-left: 5%;
  width: 90%;
}
