@import "../../../variables";

.navBar {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.719);
  .logo {
    color: $color1;
    font-family: $logofont;
    padding: 0.5vw 0vw 0vw 2vw;
  }
  .toggle {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.151);
    .toggler {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.8;
    }
  }
  .user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    font-family: $logofont;
    font-size: 120%;
    background-color: $color1;
    cursor: default;
    color: white;
    padding-top: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    text-align: center;
  }
  .cart-icon {
    z-index: 2;
    width: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .shopping-icon {
      width: 24px;
      height: 24px;
    }

    .item-count {
      position: absolute;
      font-size: 11px;
      font-weight: bold;
      bottom: 0px;
      text-shadow: 0px 0px 1px rgba(228, 168, 78, 0.733);
    }
  }
  .fancy-progress-bar {
    color: red;
  }
}
