@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

$fatfont: "Roboto", sans-serif;
$slimfont: "Raleway", sans-serif;
$logofont: "Pacifico", cursive;

$color0: linear-gradient(60deg, rgb(13, 20, 20) 20%, rgb(0, 6, 14) 100%),
  radial-gradient(
      at top center,
      rgb(0, 35, 46) 10%,
      rgba(0, 13, 20, 0.575) 100%
    )
    #00060e;
$color1: #ff831d;
$color2: #faa76f;
$color3: #ffffff;

@mixin hovereffect($bg, $col) {
  background-color: $bg;
  color: $col;
  cursor: default;
}

@mixin edgedContainer() {
  width: 40em;
  height: 32.5em;
  padding: 1em;
  padding-top: 1em;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.486);
  background: radial-gradient(ellipse at top, $color3, transparent),
    radial-gradient(ellipse at bottom, #f8f8f800, transparent);
}
