@import "../../../variables";
.contact {
  @include edgedContainer();
  & .logo {
    color: $color1;
    font-family: $logofont;
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.238);
    &:hover {
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
      transition: all 400ms ease-in-out;
      cursor: default;
    }
  }
}
