@import "../../../variables";

.sign {
  padding: 1em;
  h1 {
    & span:hover {
      @include hovereffect($color2, $color0);
      transition: all 400ms ease-in-out;
    }
  }
  h3 {
    color: $color0;
    font-family: $slimfont;
    font-size: 130%;
    cursor: default;
  }
  & .signin {
    @include edgedContainer();
  }

  & .signup {
    @include edgedContainer();
  }
}
