@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");

/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

$fatfont: "Roboto", sans-serif;
$slimfont: "Raleway", sans-serif;
