@import "./variables";

$theme-colors: (
  "primary": $color1,
);
@import "node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
  overflow-x: hidden;
  body {
    height: 100%;
    background: $color0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::-webkit-scrollbar-track {
      background-color: white;
    }

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color1;
    }
  }
}
