@import "./variables";

$theme-colors: (
  "primary": $color1,
);
@import "node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
  body {
    background: $color0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
