@import "../../variables";

#ImageGallery {
  & .GalleryImage {
    text-align: center;
    border: 4px solid black;
    background-size: cover;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.03);
      transition-timing-function: ease-out;
      & .sectiontitle {
        background-color: #ffcdab69;
        transition: all 500ms ease-in-out;
      }
    }

    & .sectiontitle {
      padding-top: 3%;
      & > h1 {
        font-family: $fatfont;
      }

      &:last-child {
        font-family: $slimfont;
      }

      margin-top: 3.5em;
      height: 7em;
      width: 16em;
      color: black;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.185);
      background-color: #ffcdabb6;
      &:hover {
        cursor: pointer;
        background-color: #ffcdab;
        transition: all 250ms ease-in-out;
        transform: scale(1.1);
      }
    }
  }
}
