@import "../../variables";

.SectionPreview {
  span {
    padding-left: 1.5%;
    font-size: 1.2em;
    &:hover {
      @include hovereffect($color1, $color3, $color3);
      text-shadow: 2px 2px 1px black;
      padding-right: 0.4em;
      transition: all 250ms ease-in-out;
    }
  }

  font-family: $fatfont;
  color: $color1;
  padding: 1%;

  .card-image {
    height: 18em;
    width: 18em;
    background-size: cover;
    .addToCart {
      opacity: 0;
      transition: opacity 350ms ease-in-out;
    }
    &:hover {
      .addToCart {
        opacity: 0.8;
      }
      transition-timing-function: ease-in-out;
      transform: scale(1.05);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
      transition: transform 1s cubic-bezier(0.98, 1, 0.35, 0.95);
      transition-timing-function: ease-in-out;
      border-top: 7px solid $color3;
      border-left: 7px solid $color3;

      & + div {
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.685);
        transform: scale(1.05);
        transition: transform 1s cubic-bezier(0.98, 1, 0.35, 0.95);
      }
    }
  }
  .card-info {
    & h5 {
      font-family: $slimfont;
      color: $color3;
      font-size: 140%;
      margin-top: 1em;
      cursor: default;
    }
  }
}
