@import "../../variables";

.sign {
  padding: 1em;

  h1 {
    color: $color2;
    font-family: $fatfont;
    border-top: 7px solid rgba(0, 0, 0, 0);
    & span:hover {
      @include hovereffect($color1, white, $color3);
      text-shadow: 2px 2px 1px black;
      padding-right: 5px;
      transition: all 200ms ease-in-out;
    }
  }
  h3 {
    color: $color3;
    font-family: $slimfont;
    font-size: 130%;
  }
  & .signin {
    border: 0.5em solid $color3;
    width: 40em;
    height: 32.5em;
    padding: 1em;
    padding-top: 1em;
  }

  & .signup {
    border: 0.5em solid $color3;
    width: 40em;
    height: 32.5em;
    padding: 1em;
    padding-top: 1em;
  }
}
