@import "../../variables";

.sign {
  padding: 1em;
  h1 {
    color: $color0;
    font-family: $fatfont;
    border-top: 7px solid rgba(255, 255, 255, 0);
    & span:hover {
      @include hovereffect($color2, $color0, rgba(255, 255, 255, 0));
      padding-right: 5px;
      transition: all 400ms ease-in-out;
    }
  }
  h3 {
    color: $color0;
    font-family: $slimfont;
    font-size: 130%;
  }
  & .signin {
    @include edgedContainer(1em, 2em, 4em);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.486);
  }

  & .signup {
    @include edgedContainer(2em, 1em, 4em);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.486);
  }
}
